@{
    ViewData["Title"] = "Index";
}


<h1>Hola Chicos!</h1>
<p>
Esta misión es de todos!Necesito su ayuda y que me acompañen en este proceso de descifrar el Enigma de ORT y lograr escapar del colegio.¡Vamos!!.
</p>



<section class = "BloquesSaliendoDeLaPantalla">


    <div>
        <h2>LLegaron a ORT  como un equipo de jóvenes investigadores de élite, seleccionados por Damian Asman.
        </h2>
    </div>
    <div>
        <h2>Su misión: Descifrar el legado de los ex-alumnos Matías Wolfus, Zoe Acquistapace y Gastón Daiksel que dejaron una serie de complejos acertijos y dispositivos ocultos antes de desaparecer misteriosamente.
        </h2>
    </div>
    <div>
        <h2>Sus creaciones guardan la clave de un descubrimiento revolucionario que podría cambiar el mundo.Pero, el tiempo apremia: El director de Gestion y el de Construcciones se están aliando para llevarnos la delantera.</h2>
    </div>
    <div>
        <h2>GANEN o los estudiantes de otras especialidades se quedan con el descubrimiento. VAMOS EQUIPO!!
        </h2>
    </div>
</section>

<form action='@Url.Action("empezar", "Home")' method="post">
    <input type="submit" value="¡EMPEZAR!" />
</form>



