<body class="INDEX">

<main>

<section class="MensajeAyudante">
    <img src="Imagenes/ChicoFeliz.png" alt="">
    <div class="mostrar">
    <a href="#">Ver misión ⬇️</a>
    <div class="hiden">
    <h2>Hola a todos, bienvenidos al enigma de ort!. En este camino los voy a estar acompañando!</h2>
    <h3>LLegaron a ORT  como un equipo de jóvenes investigadores de élite, seleccionados por Damian Asman. <br>
    Su misión: Descifrar el legado de los ex-alumnos Matías Wolfus, Zoe Acquistapace y Gastón Daiksel que dejaron una serie de complejos acertijos y dispositivos ocultos antes de desaparecer misteriosamente.  <br>
    Sus creaciones guardan la clave de un descubrimiento revolucionario que podría cambiar el mundo. Pero, el tiempo apremia: El director de Gestion y el de Construcciones se están aliando para llevarnos la delantera. <br> 
    GANEN o los estudiantes de otras especialidades se quedaran con el descubrimiento. VAMOS EQUIPO!!</h3>
    </div>
    </div>
</section>

<form action='@Url.Action("empezar", "Home")' method="post">
    <input type="submit" value="¡EMPEZAR!" />
</form>
</main>

</body>






