<body class="perdiste">

<main>

<section class="MensajeAyudante">
<img src="Imagenes/NeneAsustado" alt="">
<h2>El tiempo se termino.... Fuimos muy valientes pero no lo logramos!. Pero lo podemos volver a intentar las veces que sea necesario!
 </h2>
 <h3>Aunque ahora no pudimos, tal vez mañana si. VOLVAMOS A INTENTAR!</h3>
</section>

</main>

</body>