<section class="MensajeAyudante">
<img src="" alt="">
<h2>Que poetico! Pero no entiendo NADA!. Ayudenme a realizar esta adivinanza. ¿Como que una LISTA VITAL?, ¿Fundamental?
 </h2>
 <h3>Corran!, no queda tiempo, ahi vienen los del gestion!. Rapido!! </h3>
</section>

<section class = "EstiloPoema">
<p>En este laberinto de datos
 donde no se puede comer ni tomar, 
				    	  en algún lugar del labo
 hay un secreto que encontrar

Recuerden el inicio
 la foto que la entrada mostró.
 En su borde olvidado
lo que Asman pide se asomó.

No es el centro, ni la vista principal
pero es la base de todo, lo fundamental
 ¿Qué lista vital, aunque asi no lo interprete,
 guarda las normas para que Asman no te rete?
</p>
</section>


<form action='@Url.Action("jugarSala", "Home")' method="post">
    <label for="respuestas">Ingresá tu respuesta:</label>
    <input type="text" name="respuestas" id="respuestas" required />
    <input type="submit" value="Enviar respuesta" />
</form>