<section class="MensajeAyudante">
<img src="" alt="">
<h2>LO LOGRAMOS!, INCREIBLE. Ahora si podemos salir.</h2>
 <h3>Muchas gracias por participar, y tambien por ganarles junto a mi a los de GESTION y CONSTRU!</h3>
</section>