
<section class="MensajeAyudante">
<img src="" alt="">
<h2>Hola otra vez! Estan verdaderamene listos??. Okey empecemos, nuetsra primer mision va a ser encontrar la llave del laboratorio. El brillante Matías Wolfus, conocido por su meticulosidad y su pasión por los circuitos, siempre guardaba las llaves de su laboratorio más preciado con una lógica férrea. Sabía que solo las mentes más agudas, capaces de conectar teoría y práctica, merecían el acceso a sus experimentos más complejos.
 Sean cuidadosos y busquen en la pantalla el codigo a decifrar. Mi unica pista es, pasenlo a decimal.... Exitos!
 </h2>
 <h3>¡El tiempo corre, la alianza del Director de  Gestión y el de Construcciones no esperará!" </h3>
</section>

 <div class = "codigo binario">
    <h2>1 0 1 1   0 0 1 0</h2>
 </div>

 <form action='@Url.Action("jugarSala", "Home")' method="post">
    <label for="respuestas">Ingresá tu respuesta:</label>
    <input type="text" name="respuestas" id="respuestas" required />
    <input type="submit" value="Enviar respuesta" />
</form>









