<section class="MensajeAyudante">
<img src="" alt="">
<h2>No pense que llegariamos tan lejos!. El tiempo se esta acabando asi que hay que ir apurandonos un poco!.. Es momentos de dar el maximo de nosotros, pero ahora nos toca jugar algo, en las computadoras.</h2>>
 <h3>No falta nada!, ahora si. A JUGAR Y GANAR!</h3>
</section>
/* hay que vincular un juego con el programa, es facil pero hay que preguntarle la clase que viene a leo bien como se hace eso!*/


<form action='@Url.Action("jugarSala", "Home")' method="post">
    <label for="respuestas">Ingresá tu respuesta:</label>
    <input type="text" name="respuestas" id="respuestas" required />
    <input type="submit" value="Enviar respuesta" />
</form>

