<section class="MensajeAyudante">
<img src="" alt="">
<h2>Han superado el desafío de Matías, pero ahora la mente de Gastón Daiksel los espera. Gastón, un genio que siempre valoró la organización y la interconexión de la información, dejó su pista más importante en el verdadero centro neurálgico de la escuela: la Coordinación. No esperen encontrar aquí grandes aparatos o circuitos; Daiksel era más sutil, y su "tesoro" está oculto a plena vista, para quienes saben cómo leer entre líneas.
 </h2>
 <h3>Mi unica pista es, "Feliz cumple director"! Manos a la obra!</h3>
</section>

<section class="CalendarioCoordi">
<h2>Su misión es identificar una secuencia precisa de tres elementos: un nombre, una fecha y un logro específico. Una vez que conecten estos tres datos de la manera correcta, esa combinación les revelará la clave de un archivo digital protegido o la ubicación exacta de un compartimento oculto dentro de la propia Coordinación. Este archivo o compartimento guarda el siguiente eslabón del descubrimiento de Daiksel, Wolfus y Acquistapace.
</h2>
<img src="" alt="">

/* aca va lo mismo que en todos, osea la textera para que pongan la respuesta y el boton de enviar (puse un ejemplo de maso como tiene que ser en la sala 1 que saque de ahorcado)*/
</section>

<form action='@Url.Action("jugarSala", "Home")' method="post">
    <label for="respuestas">Ingresá tu respuesta:</label>
    <input type="text" name="respuestas" id="respuestas" required />
    <input type="submit" value="Enviar respuesta" />
</form>